// Colors
$colors: (
    'main': #FFF,
    'header-back': #FEFCFF,

    'text-title': #1C1B1F,
    'text-main': #3F3F3F,
    'text-desc': #49454F,

    'general': #7B61FF,
    'hover': #6243FF,
    'category-High': #FF2B77,
    'category-Medium': #E2A300,
    'category-Low': #6BD475,
    'disable': #ACA7C3,
    'search-placeholder': #888,
    'pagination-icon': #BCBCBC,

    // shadows
    'box-shadow': rgba(166, 141, 174, 0.28),
);

// Resolution points
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;