@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.header {
    padding: 32px 0 24px;
    background-color: getColor('header-back');
    border-bottom: 1px solid getColor('general');
    
    @media screen and (min-width: $tablet) {
        padding: 26px 0 18px;
    }

    @media screen and (min-width: $desktop) {
        padding: 22px 0;
    }
}

.wrraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Alata-Regular';
    @include font(24px, 33px);
    color: getColor('general');
    @include transition-effect(color transform);

    &:hover {
        color: getColor('hover');
        transform: scale(1.2);
    }
}

.language {
    display: flex;
    align-items: center;
    padding: 12px 4px 12px 12px;
    font-family: 'Poppins-Medium';
    @include font(16px, 16px);
    @include boxShadow();
}

.languageIcon {
    margin-left: 4px;
    width: 24px;
    height: 24px;
    fill: none;
}

.form {
    position: relative;
    margin-top: 24px;
    width: 100%;

    @media screen and (min-width: $tablet) {
        width: 368px;
        margin-top: 0;
        order: 1;
        margin-left: auto;
    }

    @media screen and (min-width: $desktop) {
        width: 410px;
    }
}

.inputSearch {
    padding: 16px calc(12px + 24px) 16px calc(12px + 24px + 12px);
    @include font(14px, 14px);
    color: getColor('general');
    border: 0;
    border-radius: 8px;
    width: 100%;
    @include boxShadow();

    &:hover {
        color: getColor('hover');
    }

    &::placeholder {
        color: getColor('search-placeholder');
    }

    &:not(:placeholder-shown) ~ .buttonReset {
        position: absolute;
        top: 12px;
        right: 12px;
        border: 0;
        padding: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: transparent;
    }
}

.inputSearchInvalid {
    color: getColor('category-High');
}

.errorFeedback {
    position: absolute;
    right: 19px;
    bottom: -34px;
    width: 174px;
    padding: 0 4px;
    border-radius: 4px;
    background-color: getColor('main');
    color: getColor('category-High');
    @include font(12px, 16px);
    @include boxShadow();

    @media screen and (min-width: $tablet) {
        width: auto;
        right: 19px;
        bottom: -18px;
    }
}

.buttonSubmit {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    background-color: transparent;

    &:hover .buttonSubmitIcon {
        fill: getColor('hover');
    }

    &:disabled .buttonSubmitIcon {
        fill: getColor('disable');
    }
}

.buttonSubmitIcon {
    width: 24px;
    height: 24px;
    fill: getColor('general');
}

.buttonReset {
    display: none;

    &:hover .buttonResetIcon {
        stroke: getColor('hover');
    }
}

.buttonResetIcon {
    height: 24px;
    width: 24px;
    stroke: getColor('general');
}

.buttonResetIconInvalid {
    stroke: getColor('category-High');
}