@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
// @import '../../sass/utils/mixins';

.header {
    padding: 32px 0 24px;
    background-color: getColor('header-back');
    border-bottom: 1px solid getColor('general');
    
    @media screen and (min-width: $tablet) {
        padding: 26px 0 18px;
    }

    @media screen and (min-width: $desktop) {
        padding: 22px 0;
    }
}

.wrraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}