@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.form {
    margin-top: 24px;
    padding: 40px 16px;
    border-radius: 8px;
    background-color: getColor('main');
    @include boxShadow();
}

.input {
    padding: 16px 12px 16px calc(12px + 24px + 12px);
    @include font(14px, 14px);
    color: getColor('general');
    border: 0;
    border-radius: 8px;
    width: 100%;
    @include boxShadow();

    &::placeholder {
        color: getColor('search-placeholder');
    }    
}

.buttonSubmit {

}