.custom-select-sort-by {
    &-container {
        // position: absolute !important;
        // top: 0 !important;
        // right: 0 !important;
        font-family: 'Poppins-Medium' !important;
        background-color: getColor('main') !important;
        @include font(16px, 24px);
        // @include boxShadow();
        // border-radius: 8px !important;
        // width: 56px !important;
        // height: 56px !important;
        // display: block;
        // @include transition-effect(width z-index);

        // &:hover {
        //     // width: 170px !important;
        //     z-index: 2;
        // }
    }

    &__control {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        // flex-direction: row-reverse !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        justify-content: center !important;
        cursor: pointer !important;
        transition: all 250ms !important;
        padding: 16px;
        border: 0 !important;
        border-radius: 8px !important;
        width: 56px !important;
        height: 56px !important;
        @include boxShadow();
        @include transition-effect(width padding flex-direction);

        @media screen and (min-width: $tablet) {
            width: 129px !important;
        }

        &:hover svg {
            stroke: getColor('hover');
        }

        // &:hover .custom-select-sort-by__indicators,
        // &:focus .custom-select-sort-by__indicators{
        //     margin-right: 12px !important;
        // }

        .custom-select-sort-by-container:hover &,
        .custom-select-sort-by-container:focus & {
            width: 170px !important;
            padding: 16px 24px !important;
            // padding: 16px 12px !important;
            z-index: 2;
        }

        &--menu-is-open {
            box-shadow: none !important;
            width: 170px !important;
            padding: 16px 24px !important;
            // padding: 16px 12px !important;
            border-radius: 8px 8px 0 0 !important;
            border-bottom: 1px solid getColor('disable') !important;
            z-index: 2;
        }

        // &--is-focused {
            // padding: 16px 12px !important;
        // }
    }

    &__value-container {
        padding: 0 !important;

        // &.custom-select-sort-by__placeholder + .custom-select-sort-by__indicators svg {
        //     margin-right: 12px !important;
        // }

        // & + .custom-select-sort-by__indicators svg {
        //     margin-right: 12px !important;
        // }
    }

    &__placeholder {
        display: block !important;
        margin: 0 !important;
        width: 98px !important;
        color: getColor('text-main') !important;
        // margin-left: 12px !important;

        .custom-select-sort-by__control:hover &,
        .custom-select-sort-by__control:focus &  {
            color: getColor('hover') !important;
        }
    }

    &__single-value {
        margin: 0 !important;
        color: getColor('general') !important;

        .custom-select-sort-by-container:hover &,
        .custom-select-sort-by-container:focus & {
            color: getColor('hover') !important;
        }
    }

    &__indicators {
        display: inline-block !important;
    }
    
    &__indicator-separator {
        display: none !important;
    }

    &__indicator {
        padding: 0 !important;
    }

    &__menu {
        position: absolute !important;
        top: 56px !important;
        right: 0 !important;
        margin: 0 !important;
        padding-top: 4px !important;
        border: 0 !important;
        border-radius: 0 0 8px 8px !important;
        @include boxShadow();
        z-index: 2 !important;

        .custom-select-sort-by__control--menu-is-open + & {
            width: 170px !important;
        }
    }

    &__menu-list {
        display: block !important;
        overflow: auto !important;
        padding: 0 !important;
        max-height: 370px !important;
        @include font(14px, 14px);
    }

    &__option {
        position: relative !important;

        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

        margin: 0 !important;
        // padding: 8px 24px !important;
        padding: 4px 24px !important;
        position: relative !important;
        cursor: pointer !important;
        color: getColor('disable') !important;
        background-color: inherit !important;
        border-bottom: 1px solid getColor('disable') !important;

        &--is-focused {
            color: getColor('hover') !important;
            border-color: getColor('hover') !important;

            &:hover svg {
                stroke: getColor('hover');
            }
        }

        &--is-selected {
            color: getColor('general') !important;
            border-color: getColor('general') !important;

            & svg {
                stroke: getColor('general');
            }
        }

        &:last-child {
            border: 0 !important;
        }
    }

    &__option + &__option {
        margin-top: 4px !important;
    }
}