@import '../../sass/utils/variables';
@import '../../sass/utils/functions';
@import '../../sass/utils/mixins';

.eventItem {
    display: block;
    position: relative;
    height: 480px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    @include boxShadow();
    cursor: pointer;

    & .eventButton {
        opacity: 0;
    }

    &:hover .eventButton {
        opacity: 1;
    }

    &:hover .eventPositionInfo {
        transform: translateY(0);
    }
}

.eventRating {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 12px;
}

.eventCategory {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: getColor('main');
    @include font(14px, 20px);
    color: getColor('general');
}

@each $eventPriority in High, Medium, Low {
    .eventPriority#{$eventPriority} {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 8px;
        background-color: getColor('main');
        @include font(14px, 20px);
        color: getColor('category-#{$eventPriority}');
    }
}

.eventPicture {
    height: 100%;
    object-fit: cover;
}

.eventDefaultImage {
    margin-left: calc((100% - 326px) / 2);
    height: 362px;
    width: 326px;

    @media screen and (min-width: $tablet) {
        margin-left: calc((100% - 338px) / 2);
        height: 369px;
        width: 338px;
    }
}

.eventPositionInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(16px + 40px));
    @include transition-effect(transform);
}

.eventArea {
    width: 100%;
    height: calc(24px + 8px * 2);
    padding: 8px 16px;
    background-color: getColor('main');
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eventDateTime {
    display: inline-block;
    opacity: 1;
    @include font(14px, 24px);
    color: getColor('general');
}

.eventLocation {
    display: inline-block;
    opacity: 1;
    @include font(14px, 24px);
    color: getColor('general');
}

.eventInfo {
    background-color: getColor('main');
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.eventTitle {
    font-family: 'Poppins-Medium';
    @include font(16px, 24px);
    color: getColor('text-title');
}

.eventDescription {
    height: 80px;
    margin-top: 16px;
    @include font(14px, 20px);
    color: getColor('text-desc');
}

.eventButton {
    margin-top: 16px;
    margin-left: auto;
    padding: 10px 24px;
    @include font(14px, 20px);

    align-self: flex-end;
    display: inline-block;
    background-color: getColor('general');
    border: 0;
    border-radius: 8px;
    // padding: 16px;
    text-align: center;
    font-family: 'Poppins-Medium';
    // @include font(16px, 24px);
    color: getColor('main');
    @include boxShadow();
    @include transition-effect(background-color opacity);

    &:disabled {
        background-color: getColor('disable');
    }

    &:hover,
    &:focus {
        background-color: getColor('hover');
    }
}